<%- include header %>


<div class="form-w">
	<form action="addCarBrand" method="post">
		汽车品牌<br/>
		<input type="text" name="brand"/><br/>
		该品牌下的汽车型号：<br/>
		<input type="text" name="model1"/>
		<input type="text" name="model2"/>
		<input type="text" name="model3"/><br/>
		<p style="text-align:right;">
			<input type="submit" value="添加"/>
		</p>
	</form>	
</div>


<%- include footer %>