<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/html5.js">//html5 新标签的兼容</script>
	<script type="text/javascript" src="/KindEditor/kindeditor-min.js"></script>
	<script type="text/javascript">
	var editor;
	KindEditor.ready(function(K){
		editor = K.create('textarea',{
			allowImageUpload : false,
			items : [
			'fontname','fontsize','|','forecolor','hilitecolor','bold','italic','underline','removeformat','|','justifyleft','justifycenter','justifyright','insertorderedlist','insertunorderedlist','|','emoticons','image','link'
			]
		});
	});
	</script>
</head>
<body>
	<header>
		<h1>
			<%= title %>
		</h1>
	</header>

	<nav>
		<span><a href="/" title="主页">HOME</a></span>
		<span><a href="/archive" title="归档">ARCHIVE</a></span>
		<span><a href='/tags'>TAGS</a></span>
		<span><a href="/links">LINK</a></span>
		<% if (user) { %>
			<span><a href="/upload" title="上传图片">UPLOAD</a></span>
			<span><a href="/post" title="发表">POST</a></span>
			<span><a href="/logout" title="登出">LOGOUT</a></span>
			<span><a href="/addCarBrand" title="品牌车型添加">品牌车型添加</a></span>
			<span><a href="/carBrandsList" title="汽车品牌列表">汽车品牌列表</a></span>
		<% }else{ %>
			<span><a href="/login" title="登录">LOGIN</a></span>
			<span><a href="/reg" title="注册">REGISTER</a></span>
		<% } %>
		<span>
			<form method="get" action="/search">
				<input type="text" name="keyword" placeholder="SEARCH" class="search" />
			</form>
		</span>
	</nav>
	
	<article>
		<% if(success){ %>
			<div><%= success %></div>
		<% } %>
		<% if(error){ %>
			<div><%= error %></div>
		<% } %>